<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Elp Camp</p>
                <div class="list-group">
                    <li class="list-group-item active">A</li>
                    <li class="list-group-item">B</li>
                    <li class="list-group-item">C</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="img-thumbnail">
                    <img class="image-responsive" src="<%= campground.image %>" alt="IMG">
                    <div class="caption-full">
                        <h4 class="float-right">$6</h4>
                        <a href=""><%= campground.name %></a>
                        <p><%= campground.description %></p>
                        <em><p>From <%= campground.author.username %> with love</p></em>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form id="form-button" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>

                <div class="card">
                    <div class="text-right">
                        <a class="btn btn-success btn-sm" href="/campgrounds/<%= campground._id %>/comments/new">Write new comment</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %> </strong>
                                <span class="float-right">10 months ago</span>
                                <p><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form id="form-button" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
